<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Students</title>
</head>
<body>
    <h1>Add New Student</h1>
        <form action="#" method="post">
            <label>SID</label>
            <input type="text" name="sid"><br>
            <label>First</label>
            <input type="text" name="first"><br>
            <label>Last</label>
            <input type="text" name="last"><br>
            <label>Birthdate</label>
            <input type="text" name="birth"><br>
            <label>GPA</label>
            <input type="text" name="gpa"><br>
            <label>Advisor</label>
            <input type="text" name="advisor"><br>
            <input type="submit" value="add student" name="add">
        </form>
</body>
</html>